<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit data pengguna</title>
</head>
<body>
    <h2>Edit Data Pengguna</h2>
    <form action="/update/<%= user.id %>" method="post">
        <label for="nama">nama:</label>
        <input type="text" id="nama" nama="nama" required value="<%= user.nama %>"><br>
        <label for="email">email:</label>label>
        <input type="email" nama="email" id="email" value="<%= user.email %>"><br>
        <label for="phone">phone:</label>
        <input type="text nama="phone" id="phone" value="<%= user.phone %>"><br>
        <button type="submit">simpan</button>
    </form>
</body>
</html>